﻿@model IdentityCore.Models.CouponCode

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CouponCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CouponName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CouponName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CouponPercentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CouponPercentage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isAvailable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CouponCodeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
