﻿@model IEnumerable<IdentityCore.Models.CouponCode>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CouponName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CouponName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAvailable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CouponCodeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CouponCodeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CouponCodeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
