﻿@model IdentityCore.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="row">
    <h4>Product</h4>
    <hr />
    <div class="col-sm-4">
        <dl class="dropdown-menu-left">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.InStock)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.InStock)
            </dd>
        </dl>
    </div>
    <div class="col-sm-4" >
        <img style="width:200px;height:150px;" src="@Url.Content("~/images/" + Model.ImagePath)" alt="Image">
    </div>

</div>



<div>
    <a asp-action="ProductPdf" asp-route-id="@Model.ProductId">PDF</a>|
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>

</div>
