﻿@model IdentityCore.Models.Email

@{
    ViewData["Title"] = "Contact";
}

<h2>View</h2>

<h4>Email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Contact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control" rows="3" cols="15"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Email" class="btn btn-default" />
            </div>
            <h5>@ViewBag.message</h5>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

