﻿@model ICollection<Product>

<partial name="_Carousel" />

<h2>Products of the week</h2>
<h4>Our weekly selection - just for you!</h4>


<div class="row">

    

        @foreach (var product in Model)
        {
            <partial name="_ProductCard" model="product" />

        }


        <iframe width="560"
                height="315"
                src="https://www.youtube.com/embed/Ls_dxo6vNTc"
                frameborder="0"
                allowfullscreen></iframe>

</div>
