﻿
    <div class="row carousel-holder">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="~/Images/carousel1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/Images/carousel2.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/Images/carousel3.jpg" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <a href="http://www.casangelina.com/" target="_blank">
            <img src="~/images/banner4.jpg" id="banner4" style="position:absolute;" height="1000">
        </a>
        <a href="https://www.funtastictoy.com/" target="_blank">
            <img src="~/images/banner2.jpg" id="banner2" style="position:absolute;" height="1000">
        </a>
        <audio autoplay controls id="myaudio" src="~/music/elevator.mp3" muted style="width:500px;margin:auto;position:absolute"></audio>

    </div>


<style>

    #myaudio {
        top: 800px;
        left: 700px;
    }


    #banner4 {
        top: 50px;
        left: 100px;
    }

    #banner2 {
        top: 50px;
        right: 100px;
    }
</style>