﻿
@model ShoppingCartViewModel

<h2>Your shopping cart</h2>
<h4>Here are the delicious pies in your shopping cart.</h4>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Selected amount</th>
      <th>Product</th>
      <th class="text-right">Price</th>
      <th class="text-right">Subtotal</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
      {
          <tr>
              <td class="text-center">@line.Amount</td>
              <td class="text-left">@line.Product.Name</td>
              <td class="text-right">@line.Product.Price.ToString("c")</td>
              <td class="text-right">
                  @((line.Amount * line.Product.Price).ToString("c"))
              </td>
          </tr>
      }
      @if (Model.Discount != 0)
      {
          <tr>
              <td class="text-center">   </td>
              <td class="text-left">Discount</td>
              <td class="text-right">@Model.Discount</td>
              <td class="text-right">
                 -@Model.Discount
              </td>
          </tr>

      }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-right">Total:</td>
      <td class="text-right">
        @Model.ShoppingCartTotal.ToString("c")
      </td>
    </tr>
  </tfoot>
</table>


<div class="row">

    <div class="col-md-4">

        @using (Html.BeginForm("Index", "ShoppingCart"))
        {
            <input type="text" id="ss" name="voucher" />

            <input type="submit" value="Update" />
        }

    </div>

    <div class="col-sm-4">
        <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
    </div>

</div>